<form id="form_change">
    <div class="row">
        <div class="col-md-6">
            <label>Usuario</label>
            <input type="text" class="form-control" id="usuario" readonly="" value="@ViewBag.username" name="usuario"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Contraseña nueva</label>
            <input type="password" class="form-control" id="password" name="password"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Confirmar contraseña nueva</label>
            <input type="password" class="form-control" id="confirmar" name="confirmar"/>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-6" style="text-align: right">
        <button class="btn btn-warning" id="btn_revisar"> Enviar </button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
         $("#btn_revisar").click(function () {            
                   ajax_send({
                          url:"@Url.Action("PasswordPost", "Home")",
                           method:"POST",
                           params:form_to_json("form_change"),
                   },(resp)=>{               
                       var response = JSON.parse(resp);               
                       if (response.result)
                           toastNotificacion({ msg:response.msg, title:"AVISO",  event:"success" },()=>{
                               window.location.href = "@Url.Action("Index", "Home")"
                           })
                       else
                        toastNotificacion({ msg:response.msg, title:"AVISO", event:"error" })
                   })
                })
    })
</script>